name: Continuous Integration

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  main:
    name: Continuous Integration
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@f1f314fca9dfce2769ece7d933488f076716723e # v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10
      - name: Install Dependencies
        run: |
            pnpm install --frozen-lockfile
      - name: Lint, check formatting and types
        run: |
          pnpm run lint 
          pnpm run format:check
          pnpm run typecheck
      - name: Test
        run: |
          pnpm run test
      - name: Build
        run: |
          pnpm run build